[Desktop Entry]
Encoding=UTF-8
Name=boom
Comment=boom P2P Cryptocurrency
Comment[fr]=boom, monnaie virtuelle cryptographique pair à pair
Comment[tr]=boom, eşten eşe kriptografik sanal para birimi
Exec=boom-qt %u
Terminal=false
Type=Application
Icon=boom128
MimeType=x-scheme-handler/boom;
Categories=Office;Finance;
