[Unit]
Description=boom's distributed currency daemon
After=network.target

[Service]
User=boom
Group=boom

Type=forking
PIDFile=/var/lib/boomd/boomd.pid

ExecStart=/usr/bin/boomd -daemon -pid=/var/lib/boomd/boomd.pid \
          -conf=/etc/boom/boom.conf -datadir=/var/lib/boomd

ExecStop=-/usr/bin/boom-cli -conf=/etc/boom/boom.conf \
         -datadir=/var/lib/boomd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
